.About .main-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.About h1 {
  text-align: center;
  padding: 20px;
}

.About .wrapper {
  display: flex;
}

.About .bio-image {
  width: 40%;
  height: 500px;
  padding: 3%;
  background:pink;
}

.About .bio {
  width: 60%;
  height: 500px;
  padding: 3%;
  background: orange;
}
