* {
  box-sizing: border-box;
}

/*.Highlight .top-two-wrapper {
  display: flex;
  justify-content: space-between;
}*/
.Home .Highlight {
  /*display: flex;
  flex-wrap: wrap;*/
  background: red;
}

.Home .Highlight .top-two-highlight {
  width: 50%;
  height: 300px;
  padding: 10px;
}

.Home .Highlight .imageHolder {
  width: 50%;
  height: 300px;
  align-self: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px;
}

.Home .Highlight .intro-text {
  display: none;
  width: 50%;
  height: 300px;
  background-color: white;
  margin: 5px;
}

.Home .Highlight .imageHolder:hover {
  display: none;
}

.Home .Highlight:hover .intro-text {
  display: block;
  z-index: 3;
  margin-top: -300px;
}
