.Highlight {
  background: red;
}

/*.Highlight .top-two-wrapper {
  display: flex;
  justify-content: space-between;
}*/
.Home .Highlight {
  display: flex;
}

.Home .Highlight .top-two-highlight {
  width: 50%;
  height: 500px;
  padding: 10px;
}
